* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.section {
	display: flex;

	align-items: center;
	justify-content: center;
	height: 100vh;
}
.poster {
	height: 1000px;
	width: 700px;
	background-color: black;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border-radius: 20px;
}
.title {
	text-align: center;
	bottom: 20%;
	color: white;
	font-family: 'Oswald', sans-serif;
}
.title-top {
	font-size: 56px;
	position: relative;
	bottom: 120px;
}
.title-bottom {
	font-size: 72px;
	transition: 2s;
}
.title-bottom:hover {
	color: red;
	cursor: pointer;
}

.body-strobo {
	animation: body-strobo-anim 0.08s infinite alternate linear;
}
@keyframes body-strobo-anim {
	0% {
		background: white;
	}
	100% {
		background: rgb(119, 0, 0);
	}
}
.poster-strobo {
	animation: poster-strobo-anim 0.05s infinite alternate linear;
}
@keyframes poster-strobo-anim {
	0% {
		background: black;
	}
	100% {
		background: white;
	}
}
